@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

body {
    background: #e9e9e9;

    background-image: url('background.jpg');
    background-size: cover;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #black;
    display: ;
    align-items: center;
    grid-template-columns: 300px auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}


body:after {
    content: "email: DronelabsLLC@gmail.com ";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #white;
    font-size: 30pt;
}

h1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    color: rgb(104, 85, 57);
    font-size: 48pt;
    font-family: 'Playfair Display', sans-serif;

    background-image: linear-gradient(120deg, rgb(30,77,53) 0%, rgb(245, 233, 149) 50%, rgb(28, 33, 104) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
}

img {
    grid-row-start: 2;
    grid-column-start: 1;
    max-width: 1080px;
    max-height: 1080px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px;
    display: flex
}

ul {
    list-style-type: none;
    grid-row-start: 2;
    grid-column-start: 2;
    width: hsl(360, 100%, 100%);px;
    font-size: 54pt;
}

ul:before {
    content: 'We Offer Data Collection Industrial Mapping, Invasive Species Management,3d Modeling,Cinematography. ';
    font-family: 'Permanent Marker',
    color:

    font-size: 24pt;
}

li {
    padding-top: 1px;
}

a {
    color: rgb(175, 5, 50);
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
  }
  a:after
